.navbar .nav-link {
    letter-spacing: 3px;
    text-transform: capitalize;
}

.navbar .nav-item {
    margin: 0px 10px;
}

.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
}

.submit-form {
    max-width: 500px;
    margin: auto;
}

.submit-form h3 {
    text-align: center;
}

.edit-form {
    max-width: 300px;
    margin: auto;
}